/* Section Styles: */

#topbar {

    background: #106eea;
    height: 40px;
    font-size: 16px;
    transition: all 0.5s;
    padding: 0;

}

.exampleText {

    text-decoration: none;

}

.twitterIcon {

    color: rgba(255, 255, 255, 0.765);

}

.facebookIcon {

    color: rgba(255, 255, 255, 0.765);

}

.instagramIcon {

    color: rgba(255, 255, 255, 0.765);

}

.linkedinIcon {

    color: rgba(255, 255, 255, 0.765);

}

.twitterIcon:hover {

    color: white;
    cursor: pointer;

}

.facebookIcon:hover {

    color: white;
    cursor: pointer;

}

.instagramIcon:hover {

    color: white;
    cursor: pointer;

}

.linkedinIcon:hover {

    color: white;
    cursor: pointer;

}

/* NavBar Styles: */

.Logo {

    font-size: 30px;
    font-family: Poppins, sans-serif;

}

.nav-link {

    position: relative;
    text-decoration: none;

}

.nav-link::after {

    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: blue;
    left: 0;
    bottom: -4px;
    transition: width 0.3s ease;

}

.nav-link:hover::after {

    width: 100%;
    
}

/* Added Nav Styles */

.dropdown-submenu {

    position: relative;

}

.dropdown-submenu .dropdown-menu {
    
    top: 0;
    left: 100%;
    margin-top: -1px;

}

#link:hover {

    color: blue;

}

#dropdown-li {

    color: black;
    font-family: Open Sans, sans-serif;

}

#dropdown-li:hover {

    color: blue;

}

.dropdowntest {

    color: black;

}

.test {

    color: black;

}

#deepdropdownlink {

    color: black;
    font-family: Open Sans, sans-serif;

}

#deepdropdownlink:hover {

    color: blue;

}
.btn-close {

    color: white;

}

.navlink {

    text-decoration: none;

}

#nav-dropdown {

    position: relative;
    color: white;
    text-decoration: none;

}

#link {

    color: black;
    font-family: Open Sans, sans-serif;

}

#dropdownMainButton {

    border: none;

}

/* The body of the page: */

#firstblock {

    background-image: url('../images/fullheroimg.jpg');

}

.firstblockpara {

    color: #555555;
    font-family: Roboto, sans-serif;

}

#button{
 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    font-family: Roboto, sans-serif;
    
}

.videoBtn {

    font-family: Open Sans, sans-serif;
    cursor: pointer;

}

.videoBtn:hover {

    color: blue;

}

/* Second Block's Styles: */

.secondblock {

    background-color: #f6f9fe;

}

#secondblockBtn {

    background-color: #e7f1fd;
    color: #106eea;
    border: none;
    border-radius: 100px;
    letter-spacing: 1px;
    font-family: Roboto, sans-serif;

}

.secondblockheader {

    font-family: Roboto, sans-serif;

}

.secondblockpara {

    font-family: Roboto, sans-serif;

}

#mainHolder {

    display: flex;
    flex-direction: row;

}

#iconHolder {

    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    width: 65px;
    height: 60px;

}

.labelHolder {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* counter Styles: */

#firstCounter {

    font-size: 3rem;

}

#secondCounter {

	font-size: 3rem;
    
}

#thirdCounter {

    font-size: 3rem;

}

#fourthCounter {

    font-size: 3rem;

}

#counterHolder {

    position: relative;
    background-color: #f1f6fe;

}

.counterIconHolder {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    left: calc(50% - 25px);
    width: 60px;
    height: 60px;
    border: 6px solid white;
    border-radius: 50px;

}

#brandLogoHolder {

    background-color: #f6f9fe;

}

#brandLogoRow {

    display: flex;
    justify-content: center;
    align-items: center;

}

.secondGridHolder {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f6fe;
    border: 1px solid #deebfd;
    width: 70px;
    height: 70px;
    margin: auto;

}

/* Team Card Styles: */

.card {

    border: none;

}

.sixthblock {

    background-color: #f6f9fe;

}

.secondPurchaseCardParas {

    color: rgba(128, 128, 128, 0.299);

}

#maintext {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.innertext {

    font-size: 40px;

}

#purchaseCard {

    border: none;

}

.card {

    overflow: hidden;

}

.card .advanced {

    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #106eea;
    color: #fff;
    
}

.eightthblock {

    background-color: #f6f9fe;

}

.lastGridHeader {

    color: #777777;

}

.lastGridPara {

    color: #777777;

}

.bigSvgHolder {

    display: flex;
    justify-content: center;
    align-items: center;

}

.innerSvgHolder {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2.5px dotted skyblue;
    border-radius: 40px;

}

#formButton {

    padding-left: 27px;
    padding-right: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;

}

#lastFormHolder {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f9fe;

}

.formholder {

    display: flex;
    justify-content: center;
    align-items: center;

}

.socialMediaContainer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.innerMedia {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;

}

.Phone {

    color: #777777;
    font-size: 14px;

}

.Email {

    color: #777777;
    font-size: 14px;

}

.lastFooterLink {

    text-decoration: none;

}

.lastFooterParaTwo {

    display: flex;
    justify-content: end;
    align-items: end;


}

#lastFooter {

    background-color: #f1f6fe;

}

.firstFooterHeader {

    font-size: 16px;

}

.firstFooterPara {

    font-size: 14px;

}

.firstFooterLI {

    font-size: 14px;

}

.firstfooterOL {

    list-style-type: none;

}

.accordion-item {

    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: solid;

}

.accordion-button:not(.collapsed) {

    background-color: white;
    
}

#accordionExample {

    border: none;

}

/* Copied Accordion Styles: */

#faq {

    background-color: #f6f9fe;

}

.clickableAcc {

    font-size: 18px;
    cursor: pointer;

}

.collapse {

    font-size: 16px;

}

.accordionLI {

    list-style-type: none;

}

.innerWorkings {

    display: flex;
    flex-direction: row;
    border: 0.5px skyblue;
    border-bottom-style: solid;

}

/* Carousel Styles: */

#slider {

    width: 100%;
    overflow: hidden;

}

#slides {

    display: flex;
    transition: transform 1s ease-in-out;

}

.slide {

    width: 100%;
    flex: 0 0 auto;

}

#carouselExample {

    background: url('../images/secondimage.jpg');
    background-position: center center;
    background-size: cover;

}

.carouseImgHolder {

    display: flex;
    justify-content: center;
    align-items: center;

}

.carouselImg {

    width: 110px;
    height: 110px;
    border: 7px solid rgba(128, 128, 128, 0.29);
    border-radius: 100px;

}

/* Filter Styles: */

.social-icons {

    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    width: 95%;

}

.container:hover .social-icons {

    opacity: 1;

}

.icon {

    margin: 0 5px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    
}

#hoveredLinksId {

    display: flex;
    flex-direction: row;
    justify-content: end;

}

.Image {

    height: 250px;

}

.hoveredHeader {

    font-size: 18px;
    color: #222222;

}

.hoveredPara {

    font-size: 14px;

}

#hoveredHolder {

    background-color: rgba(255, 255, 255, 0.9);

}

#carddisplay {

    position: relative;

}

#hoveredHolder {

    width: 95%;

}

#splitter {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}